{% extends "master.html" %}

{% block title %}
    Genre Form
{% endblock title %}

{% block navbar %}
    {% for navItem in navItems %}
    <li class="nav-item">
        <a class="nav-link active" href="{{navItem.link}}" aria-current="page">{{navItem.label}}</a>
    </li>
    {% endfor %}
{% endblock navbar %}

{% block content %}
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-6">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-floating mt-3">
                    {{form.uname}}
                    <label for="uname">{{form.uname.label}}</label>
                </div>
                <div class="form-floating mt-3">
                    {{form.password}}
                    <label for="password">{{form.password.label}}</label>
                </div>
                <div class="form-floating mt-3">
                    {{form.email}}
                    <label for="email">{{form.email.label}}</label>
                </div>
                <div class="form-floating mt-3">
                    {{form.fname}}
                    <label for="fname">{{form.fname.label}}</label>
                </div>
                <div class="form-floating mt-3">
                    {{form.lname}}
                    <label for="lname">{{form.lname.label}}</label>
                </div>
                <button type="submit" class="btn btn-outline-primary mt-2">
                    Register
                </button>
                
                <a href="{% url "index" %}" class="btn btn-outline-warning mt-2">
                    Back
                </a>
                
            </form>
            {% if msg %}
                <div class="alert alert-{{msg.code}} mt-4" role="alert">
                    <strong>{{msg.lbl}}</strong> 
                </div>
            {% endif %}
            
        </div>
    </div>
    
{% endblock content %}